body {
   margin: 0;
   box-sizing: border-box;
}
main {
   width: 100%;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
}

nav {
   width: 10%;
   background-color: #f8f9fa;
   height: 100vh;
   padding: 20px;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
nav ul {
   list-style: none;
   padding: 0;
}
nav ul li {
   margin: 10px 0;
}
nav ul li a {
   text-decoration: none;
   color: #333;
}
