body {
   margin: 0;
   background-color: #f4f6f8;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 #sidebar {
   width: 220px;
   background-color: #e9ecef;
   height: 100vh;
   padding: 20px;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   position: fixed;
   top: 0;
   left: 0;
   transform: translateX(-100%);
   transition: transform 0.3s ease-in-out;
   z-index: 1050;
 }
 
 #sidebar:not(.hidden) {
   transform: translateX(0);
 }
 
 #sidebar h4,
 #sidebar h5 {
   margin-bottom: 20px;
   font-size: 16px;
 }
 
 #sidebar ul {
   list-style: none;
   padding: 0;
 }
 
 #sidebar ul li {
   margin: 5px 0;
 }
 
 #sidebar ul li a {
   text-decoration: none;
   color: #333;
   font-weight: 600;
   font-size: 14px;
   transition: color 0.3s, background-color 0.3s;
   padding: 4px 8px;
   border-radius: 5px;
   display: inline-block;
 }
 
 #sidebar ul li a:hover {
   color: #007bff;
   background-color: #dee2e6;
 }
 
 #overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0,0,0,0.5);
   z-index: 1040;
   display: none;
 }
 
 main {
   flex-grow: 1;
   margin-left: 220px;
   padding: 40px;
   box-sizing: border-box;
 }
 
 header, section {
   background-color: #ffffff;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
 }
 
 /* Mobil cihazlar için */
@media (max-width: 768px) {
   body {
      flex-direction: column;
   }
 
   #sidebar {
      width: auto;
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
      background-color: #f8f9fa;
      transform: translateX(-100%); /* Başlangıçta gizli */
   }
 
   #sidebar ul {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
 
   #sidebar ul li {
      margin: 3px 0;
   }
 
   #sidebar.hidden {
      transform: translateX(-100%);
   }
 
   #sidebar:not(.hidden) {
      transform: translateX(0);
   }
 
   #sidebar ul li a {
     font-size: 14px; /* Varsayılan boyutu küçültün, örn. 16px yerine 14px */
     padding: 4px 8px;
   }
 
   #sidebar h4,
   #sidebar h5 {
     font-size: 16px; /* Başlıklar da küçültülebilir */
   }
 
   #sidebar img {
     width: 20px;
     height: 20px;
   }
 
   main {
      width: 100%; /* Sidebar gizli olunca main tam ekran */
      padding: 20px;
      margin-left: 0;
   }
 
 }
 
 @media (min-width: 768px) {
   #sidebar {
     transform: translateX(0) !important;
   }
 
   #sidebar.hidden {
     transform: translateX(0) !important;
   }
 
   #overlay {
     display: none !important;
   }
 
   main {
     width: auto; /* Sidebar açıkken ana içerik alanı sidebar genişliğine göre ayarlanır */
     margin-left: 220px;
   }
 }
 