body {
  display: flex;
  margin: 0;
  background-color: #f4f6f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar {
  width: 220px;
  background-color: #e9ecef;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0); /* Masaüstünde sidebar açık */
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

#sidebar.hidden {
  transform: translateX(-100%);
}

#sidebar h4 {
  margin-bottom: 20px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin: 10px 0;
}

#sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

#sidebar ul li a:hover {
  color: #007bff;
  background-color: #dee2e6;
}

main {
  flex-grow: 1;
  width: calc(100% - 220px); /* ekran genişliği - sidebar genişliği */
  padding: 40px;
  box-sizing: border-box;
}

header, footer, section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1040;
  display: none;
}

/* Mobil cihazlar için */
@media (max-width: 768px) {
  body {
     flex-direction: column;
  }

  #sidebar {
     width: 220px;
     height: 100vh;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 20px;
     background-color: #f8f9fa;
     transform: translateX(-100%); /* Başlangıçta gizli */
  }

  #sidebar ul {
     display: flex;
     flex-direction: column;
     width: 100%;
  }

  #sidebar ul li {
     margin: 10px 0;
  }

  #sidebar.hidden {
     transform: translateX(-100%);
  }

  #sidebar:not(.hidden) {
     transform: translateX(0);
  }

  main {
     width: 100%; /* Sidebar gizli olunca main tam ekran */
     padding: 20px;
  }
}

@media (min-width: 768px) {
  #sidebar {
    transform: translateX(0) !important;
  }

  #sidebar.hidden {
    transform: translateX(0) !important;
  }

  #overlay {
    display: none !important;
  }

  main {
    width: calc(100% - 220px);
  }
}
